/* importanto la fuentes  que se utlizara para esta pagina */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* globales */
:root {
    --verdeOscuro: #05400A;
    --blanco: #f1f1f1;
    --fuenteContenido: "Roboto", sans-serif;
    --fuenteTitulo: "Work Sans", sans-serif;
    --verdeClaro: #05400A;
    --verde: #1B6E2A;
    --grisClaro: #B5BFA1;
    --enfasis: #B5BFA1;
    --enfasis2: #eeeeeeee;
    --gris: #222;
}


main,
.seccion {
    background-color: var(--enfasis);
    margin: 1rem auto;
    border: 1px solid #00000033;
    border-radius: .5rem;
    box-shadow: 1px 1px 30px #00000055;
    width: 92%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    /* background: rgb(0, 0, 0); */
    /* background: linear-gradient(90deg, var(--verdeClaro) 0%, var(--verde) 100%); */
    /* background: rgb(0,98,28); */
    /* background: linear-gradient(90deg, rgba(0,98,28,1) 11%, rgba(146,247,154,1) 50%, rgba(3,119,45,1) 87%); */

}

/* icono de check para la seccion de infomacion */
.bi-check2-square {
    font-size: 2.4rem;
    color: var(--blanco);
}

/* icono de numeros para la seccion de informacion */
.bi-1-square-fill {
    color: var(--blanco);
    font-size: 2.3rem;
    padding: 1rem;
}

.bi-2-square-fill {
    color: var(--blanco);
    font-size: 2.3rem;
    padding: 1rem;
}

.bi-3-square-fill {
    color: var(--blanco);
    font-size: 2.3rem;
    padding: 1rem;
}

/* -------- */


/* boton para la seccion de informacion */
.button {
    /* --color: var(--blanco); */
    padding: 0.8em 1.7em;
    background-color: var(--gris);
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 1s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid var(--gris);
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
}

.button::before,
.button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--verdeClaro);
    transition: 1s ease;
}

.button::before {
    top: -1em;
    left: -1em;
}

.button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.button:hover::before,
.button:hover::after {
    height: 410px;
    width: 410px;
}

.button:hover {
    /* color: rgb(10, 25, 30); */
    color: var(--blanco);
}

.button:active {
    filter: brightness(.8);
}


p {
    font-family: var(--fuenteContenido);
    font-size: 2rem;
    font-weight: 400;
}

h1 {
    font-family: var(--fuenteTitulo);
    font-weight: 200;
}


/* aquí se esta hizo el estilo para hacer el efecto del menu de navegacion*/
a {
    text-decoration: none;
    color: #F1F1F1;
    font-family: var(--fuenteContenido);
    font-size: 2rem;
    padding: 0 1rem;
    position: relative;
    letter-spacing: 0.5px;
}

.contenedor {
    margin: auto;
    width: 90%;
    max-width: 120rem;
}

/* ----------------------*/

/* Estilos Para El Header*/

/* estilos para el menu de la pagina de proposito */

.encabezado {
    background-color: var(--verdeClaro);
    height: 20rem;
    background-size: cover;
    /*nos sirve para que las imagenes tomen todo el espacio disponible*/
    background-repeat: no-repeat;
    background-position: center end;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

/* --fin -- */

/* menu para la pagina de inicio */
.encabezado-main {
    background-image: url(../imagenes/imagenColegio2_o.jpg);
    background-color: rgb(66, 66, 66);
    background-blend-mode: soft-light;
    padding-bottom: 5rem;
    margin-bottom: 2rem;
    background-position: center center;
    justify-content: space-between;
    height: 44rem;

}

/* --- fin ---- */

.bold {
    display: block;
    margin: 0 auto;
    font-weight: bold;
    font-family: var(--fuenteTitulo);
}

.bold2 {
    display: block;
    margin: 0 8rem;
    font-weight: bold;
    font-family: var(--fuenteTitulo);
}


.titulos {
    color: var(--blanco);
    display: flex;
    margin: 0 2rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.encabezado-main>.titulos>h1 {
    display: flex;
    flex-direction: column;
    font-size: 2.8rem;
}

.encabezado-main>.titulos {
    justify-content: space-between;
    align-items: center;
}

.segundo-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    font-family: var(--fuenteTitulo);
    font-size: 2rem;
    color: var(--blanco);
    margin-bottom: 4rem;
}

/* ---- haciendo los estilos para los iconos de las redes sociales ----*/
.redes-sociales {
    display: flex;
    column-gap: 1.5rem;
    color: #fff;
}

.redes-sociales-ig>i {
    font-size: 3rem;
}

.redes-sociales-fc>i {
    font-size: 3rem;
}

.redes-sociales-ig:hover>i {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    -webkit-background-clip: text;
    color: transparent;
    border-color: 1px solid wheat;
}

.redes-sociales-fc:hover>i {
    background: linear-gradient(45deg, #405de6, #5851db);
    -webkit-background-clip: text;
    color: transparent;
}

/* ------------ fin - --------------- */

/* haciendo los estilos para el menu de navegacion */
.navegacion__menu {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    list-style-type: none;
}

.navegacion__menu a:after {
    content: "";
    position: absolute;
    background-color: var(--blanco);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -1rem;
    transition: 0.4s;
}

.navegacion__menu a:hover:after,
a.active:after {
    width: 100%;
}

.navegacion__menu a:hover {
    color: #E7E7E7;
}

/* ------ fin ----- */

/* MediaQuerie para ocultar los iconos en pantallas pequeñas*/
@media(max-width:768px) {
    .redes-sociales {
        display: none;
    }
}

/* haciendo el boton para ocultar el menu*/
.abrir-menu,
.cerrar-menu {
    display: none;
}

/* MediaQuerie que tiene los estilos del menu de navegacion para resolucion de pantallas de celular */
@media screen and (max-width:550px) {
    .abrir-menu {
        background: transparent;
        color: var(--blanco);
        display: block;
        border: none;
        font-size: 3.5rem;
    }

    .cerrar-menu {
        color: var(--blanco);
        display: block;
        margin-left: 30rem;
        border: none;
        background: none;
        font-size: 3rem;
    }

    .navegacion {
        opacity: 0;
        visibility: hidden;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        background: #00000079;
        backdrop-filter: blur(0.5rem);
        -webkit-backdrop-filter: blur(0.5rem);
        padding: 2rem;
        bottom: 0;
        width: 100%;
    }

    .navegacion.visible {
        opacity: 1;
        visibility: visible;
    }

    .navegacion__menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 3rem;
        gap: 6rem;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
    }

    .navegacion__menu a {
        font-size: 2.1rem;
        display: flex;
        justify-content: center;
    }

    .titulos {
        margin: 0;
        width: 100%;
        padding: 2rem;
    }

    h1 {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        text-align: center;
    }

    .segundo-titulo {
        font-size: 2rem;
        margin-bottom: 10rem;
    }
}

/* ------- fin ------- */


/* aqui vamos a trabajar con el main haciendo la  galeria de fotos de la pagina de inicio */
.contenido {
    /* Esta es la clase  principal que va a tener todo el contenido de la galeria de fotos*/
    position: relative;
    /* Establece como se van a mostrar los elementos*/
    min-height: 100vh;
}

.tercer-titulo {
    margin-top: 3.6rem;
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: var(--fuenteTitulo);
}


/* la clase de .imagen-contenido es el elemento que va a contener todas las imagenes */
.contenido .imagen-contenido {
    display: flex;
    flex-wrap: wrap;
    /*permite que las imagenes se muestren en diferentes lineas dependiendo el espacio*/
    gap: 1.5rem;
    /* agrega una separcion entre las imagenes*/
    justify-content: center;
    /* centra las imagenes */
    padding: 1rem;
}

/* la clase .imagen me va a permitir darle estilo a cada una de las imagenes */
.contenido .imagen-contenido .imagen {
    height: 250px;
    /*la altura que cada imagen va a tener*/
    width: 350px;
    /* el ancho que va tener cada imagen */
    border: 1rem solid #fff;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    /* Aplica una sombra suave a las imágenes. */
    overflow: hidden;
    /* lo que hace es ocultar cualquier elemento que se desorde en las imagenes */
    cursor: pointer;
}


.contenido .imagen-contenido .imagen img {
    border-radius: 8px;
    height: 100%;
    /* hace que la imagen ocupe el 100% de la altura en el espacio de su contenedor*/
    width: 100%;
    /* hace que la imagen ocupe el 100% del ancho en el espacio de su contenedor*/
    object-fit: cover;
    /* ajusta la imagen para que ocupe todo el espacio de su contenedor */
    transition: .2s linear;
    /* agrega uan trasnsicion al pasar el cursor en la imagen */
}

.contenido .imagen-contenido .imagen:hover img {
    transform: scale(1.1);
    /* agrega un efecto de zoom a la imagen cuando se pasa el cursor*/
}

.contenido .imagen-click {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.contenido .imagen-click span {
    position: absolute;
    top: 0;
    right: 1rem;
    font-size: 4rem;
    font-weight: bolder;
    /* pone el texto en negrita */
    color: #fff;
    cursor: pointer;
    z-index: 100;
    /* nos permite superponer l el elemento para que se muestre encima de los demas */
}

.contenido .imagen-click img {
    position: absolute;
    top: 50%;
    /*hace que el elemento se mueva verticalmente hasta la mitad del contenedor*/
    left: 50%;
    /* hace que el elemento se mueva horizontalmente hasta la mitad del elemento*/
    transform: translate(-50%, -50%);
    /*  Ajusta la posición de la imagen para que esté centrada exactamente en el centro.*/
    border: 5px solid #fff;
    border-radius: 5px;
    width: 440px;
    object-fit: cover;
}


/* este mediaQuerie hace que las imagenes de la galeria  ocupen el 95% del espacio en
uan resolucion de pantallas mas pequeñas a 768px */
@media (max-width:768px) {
    .contenido .imagen-click img {
        width: 90%;
    }
}

/* ----- fin ----- */


/* haciendo los estilos para el pie de pagina o footer de la pagina de inicio */
.sociales-footer {
    display: flex;
    justify-content: center;
    background: #222;
    padding: 1rem;
}

.titulo-footer {
    font-family: var(--fuenteTitulo);
    font-size: 2rem;
    color: var(--blanco);
    margin-right: 20rem;
}

.principal {
    display: grid;
    grid-template-columns: 50% 50%;
}

.footer-titulos {
    display: flex;
    gap: 2.2rem;
    margin-bottom: 2.2rem;
}

.creditos {
    color: var(--blanco);
    padding: 1.2rem;
    display: flex;
    justify-content: space-between;
    background: #282828;
    column-gap: .5rem;
}

.creditos .nombre-institucion {
    display: flex;
    font-size: 2rem;
    column-gap: 1rem;
}

.bi-c-circle {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
}

.footer {
    background-image: url(../imagenes/imagenColegio2_o.jpg);
    background-color: rgb(66, 66, 66);
    background-blend-mode: soft-light;
    background-repeat: no-repeat;

    background-position: bottom;
    background-size: cover;


}

.container {
    z-index: 99999;
}


.footer-titulos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-titulos h4 {
    top: 3rem;
    display: flex;
    justify-content: center;
    font-family: var(--fuenteContenido);
    font-size: 2.4rem;
    text-transform: uppercase;
    color: var(--blanco);
}

.footer-titulos img {
    margin-top: 2rem;
    width: 250px;
    height: 170px;
    object-fit: cover;
    border: .5rem solid #fff;
    border-radius: 10px;
}

.footer-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-family: var(--fuenteTitulo);
    font-size: 3rem;
    color: var(--blanco);
}

.footer-contacto i {
    font-size: 2rem;
}

.footer-contacto p {
    font-size: 2rem;
    font-weight: bold;
    font-family: var(--fuenteContenido);
}

/* ------- fin ------ */

/* MediaQuerie de los estilos para el diseño del footer en resolucion de pantallas pequeñas o celular */

@media screen and (max-width:550px) {
    .sociales-footer {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: center;
        align-items: center;
        background: #222;
        padding: 2rem;

    }

    .titulo-footer {
        font-family: var(--fuenteTitulo);
        font-size: 2.1rem;
        color: var(--blanco);
        margin-left: 2.5rem;
    }

    .principal {
        display: flex;
        flex-direction: column;
    }

    .footer-titulos img {
        margin-top: 2rem;
        width: 90%;
        height: 220px;
        object-fit: cover;
        border: .5rem solid #fff;
        border-radius: 10px;
    }

    .footer-titulos h4 {
        font-size: 2.4rem;
    }

    .footer-contacto {
        margin-bottom: 1.5rem;
        margin-left: 2rem;
    }

    .footer-contacto i {
        margin-right: .5rem;
    }

    .creditos {
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .creditos p {
        font-size: 2rem;
    }

    .creditos i {
        font-size: 1.8rem;
    }

}

/* ------ fin ---- */

/* haciendo los estilos para  la pagina del proposito haciendo la mision, vision , lema */

h3 {
    font-family: var(--fuenteTitulo);
    color: var(--blanco);
    position: relative;
    bottom: 3rem;
}

.fondo-titulo {
    position: absolute;
    max-width: 50%;

}

.titulo {
    display: flex;
    color: var(--gris);
    justify-content: center;
    font-family: var(--fuenteTitulo);
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.titulo-2 {
    display: flex;
    justify-content: center;
    font-family: var(--fuenteTitulo);
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: var(--gris);
}

.titulo-3 {
    display: flex;
    justify-content: center;
    font-family: var(--fuenteTitulo);
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    margin-right: -6rem;
}

.contenido-principal {
    position: relative;
    border: 3px solid black;
    width: 49rem;
    height: 45rem;
    margin: 10rem auto;
    border-radius: 10px;
    background-color: var(--enfasis2);
    box-shadow: 3px 5px 20px black;
}


.grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.contenido-imagen {
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.texto-contenido {
    margin-top: 4rem;
    position: absolute;
    top: 20%;
    padding: 1.3rem;
    text-align: center;
}

.texto-contenido .texto {
    font-family: var(--fuenteContenido);
}

.texto2 {
    margin-left: 7rem;
}


.contenido-imagen .imagen {
    width: 16rem;
    height: 16rem;
    object-fit: cover;
    border: .3rem solid #fff;
    box-shadow: 1px 1px 1rem #222;
    border-radius: 50%;
}

@media (min-width:768px) {
    .contenido-imagen .imagen:hover {
        width: 18rem;
        height: 18rem;
    }
}


/* ------ fin ----- */

/* MediaQuerie para los estilos de los elementos de la mision , vision , lema
en resolucion de pantallas pequeñas */

@media screen and (max-width:550px) {
    h3 {
        top: -1.3rem;
        text-align: center;
        font-size: 2.8rem;
    }

    .fondo-titulo {
        position: absolute;
        max-width: 97%;


    }

    .grid {
        display: flex;
        flex-direction: column;
    }

    .grid-titulos {
        display: flex;
        flex-direction: column;
    }

    .titulo-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        margin-bottom: 3rem;
    }

    .titulo-3 {
        display: flex;
        justify-content: center;
        font-family: var(--fuenteTitulo);
        font-size: 2.5rem;
        text-transform: uppercase;
        margin-bottom: 2rem;
        margin-right: 1.2rem;
    }

    .texto2 {
        margin: 0 auto;
    }

    .encabezado {
        display: flex;
        justify-content: center;
    }


    main {
        background-color: var(--enfasis);
        margin: 9rem auto;
        border: 1px solid black;
        border-radius: 1.1rem;
        box-shadow: 1px 1px 30px black;
        width: 100%;
    }

    .contenido-principal {
        width: 90%;
        height: 75vh;
    }
}

/* ------ fin ------- */

/* galeria de fotos con scroll para mostrar la linea de tiempo  de la historia en la pagina de proposito */
.titulo2 {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
    font-size: 3.5rem;
    color: var(--blanco);
    text-transform: uppercase;
}

/* MediaQuerie haciendo los estilos que va a tener la galeria en resolucion de pantallas para 
computador */
@media screen and (min-width:550px) {

    .historia {
        padding: 1rem;
        color: var(--blanco);
        font-family: var(--fuenteContenido);
        font-size: 1.6rem;
        border-radius: 1rem;
    }

    .leer-mas {
        margin-top: 2rem;
        display: block;
        font-size: 1.6rem;
    }

    .fecha {
        text-decoration: underline;
        padding-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #222;
        font-family: var(--fuenteContenido);
        color: var(--blanco);
        font-size: 1.8rem;
    }

    .fecha2 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
        font-family: var(--fuenteContenido);
        background: #222;
        color: var(--blanco);
        font-size: 1.8rem;
        text-decoration: underline;
    }

    .contenedor {
        width: 90%;
        max-width: 120rem;
        margin: 10rem 7rem;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .contenedor::after {
        content: "";
        width: .5rem;
        height: 100%;
        background: var(--verdeClaro);
        position: absolute;
        top: 0;
        left: calc(50% - .5rem);
        z-index: 1;
    }

    .evento {
        display: flex;
        margin-right: 1rem;
        justify-content: space-between;
        margin-bottom: 5rem;
        position: relative;
    }

    .evento::after {
        content: "";
        display: block;
        width: 3.4rem;
        height: 3.4rem;
        border-radius: 100px;
        background: var(--blanco);
        border: 2px solid var(--verdeClaro);
        position: absolute;
        z-index: 2;
        top: calc(50% - 14px);
        left: calc(50% - 13px);
    }

    .foto {
        background: #222;
        width: 33%;
        border: 1rem solid #fff;
        border-radius: 1.5rem;
        position: relative;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        margin-right: 2rem;
    }

    .foto::after {
        content: "";
        display: block;
        border: 2rem solid transparent;
        border-left: 2rem solid #fff;
        position: absolute;
        right: -5rem;
        top: calc(50% - 2rem);
    }

    .foto img {
        padding: 0;
        max-width: 100%;
        vertical-align: top;

    }

    .evento:nth-child(even) {
        flex-direction: row-reverse;
    }

    .evento:nth-child(even) .fecha {
        justify-content: end;
    }

    .evento:nth-child(even) .foto::after {
        content: "";
        border: 2rem solid transparent;
        border-right: 2rem solid #fff;
        right: initial;
        left: -5rem;
    }
}

/* ----- fin ----- */

/* MediaQuerie haciendo los estilos para acomodar el diseño de la galeria de fotos
en una resolucion de pantalla pequeñas o celular */

@media (max-width:768px) {
    .historia {
        padding: 3rem;
        color: var(--blanco);
        font-family: var(--fuenteContenido);
    }

    .foto {
        background: var(--gris);
    }

    .leer-mas {
        display: block;
    }

    .fecha {
        margin-top: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.4rem;
        background: #222;
        color: var(--blanco);
        font-size: 2rem;
        font-family: var(--fuenteContenido);
    }

    .fecha2 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.3rem;
        font-family: var(--fuenteContenido);
        color: var(--blanco);
        font-size: 2rem;
        background: #222;
    }

    .contenedor {
        width: 100%;
        max-width: 120rem;
        margin: 10rem 3rem;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .evento {
        display: flex;
        margin-right: 4rem;
        justify-content: space-between;
        margin-bottom: 15rem;
        position: relative;
    }


    .foto {
        width: 100%;
        border: 1rem solid #fff;
        border-radius: 1rem;
        position: relative;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        margin-left: -1rem;

    }

    .foto img {
        width: 100%;
        vertical-align: top;
    }
}

/* ----- fin ----- */

/* aquí se van a hacer los estilos para la pagina que muestra la historia completa con paginacion */

.paginacion-historia {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.paginacion-historia img {
    margin-top: 2rem;
    max-width: 70%;
    /* height: 50rem; */
    object-fit: cover;
    border-radius: 1rem;
    border: 1.3rem solid var(--blanco);
}

.paginacion-historia .imagen2 {
    max-width: 50%;
}

.paginacion__texto {
    margin-top: 2.4rem;
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222;
    padding: 5rem;
}

.historia-negrita {
    font-weight: bold;
    color: #000;
}

@media screen and (max-width:600px) {
    .paginacion__texto {
        margin-top: 5rem;
        margin-bottom: 5rem;
        text-align: center;
        padding: 2rem;
        line-height: 3.5rem;
    }

    .paginacion-historia .imagen2 {
        margin-top: 2rem;
        max-width: 90%;
    }
}

/* haciendo la pagina que va a contener la informacion  de todas las  sedes */
.tabla {
    height: 100%;
    width: 100%;
}

td {
    border-bottom: 2px solid var(--verdeClaro);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_tablas {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    gap: 6rem;
    grid-template-columns: repeat(2, 1fr);
}

.contenido-importante {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    border-radius: 14px;
    background-color: var(--enfasis2);
    box-shadow: 3px 5px 20px #000;
    max-width: 55rem;
    height: 50rem;
}

.tabla-title {
    text-align: center;
    font-family: var(--fuenteTitulo);
    font-size: 2rem;
    background-color: var(--verde);
    border-radius: 14px 14px 0 0;
    padding: 1.3rem;
    color: white;
    width: 100%;
}

/* esta es una utilidad para quitar el ultimo borde de las tablas solamente */
.sin-borde {
    border: none;
}

/* ------ */

.uno {
    font-size: 2rem;
    font-family: var(--fuenteContenido);
    font-weight: bold;
    color: var(--gris);
}

.dos {

    text-align: end;
    font-size: 2rem;
    font-family: var(--fuenteContenido);
}

/*  ------ fin ------ */

/* MediaQuerie para organizar los estilos de la pagina
de sedes en pantallas que tienen una resolucion de 
pantalla pequeña celulares */
@media screen and (max-width:600px) {
    td {
        border: none;
    }

    .container_tablas {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10rem;
    }

    .contenido-importante {
        margin-top: 3.4rem;
        width: 100%;
        height: 100%;
    }

    .tabla-title {
        width: 100%;
        font-size: 2.4rem;
        padding: 2.2rem;
    }

    .uno {
        padding: 1.3rem;
        font-size: 2.2rem;
        display: flex;
        justify-content: start;
    }

    .dos {
        font-size: 2.2rem;
        padding: 1.3rem;
        font-family: var(--fuenteContenido);
    }
}

/* fin */

/* haciendo los estilos para la seccion de informacion */
.contenido-pei {
    margin-left: 30rem;
}

.titulo-info {
    font-family: var(--fuenteTitulo);
    font-weight: bold;
    font-size: 4rem;
    color: #222;
}

.centrar-content {
    margin-left: 20rem;
}

.titulo-info2 {
    box-shadow: 1px 3px 8px black;
    background: var(--verdeClaro);
    color: var(--blanco);
    font-family: var(--fuenteTitulo);
    font-size: 2rem;
    margin: 5rem 15rem;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid var(--verdeClaro);
    border-radius: 1rem;
    padding: 1.5rem;
    width: 80%;
}

.separacion {
    padding-bottom: 7rem;
}

.subtitulo-info3 {
    text-align: center;
    font-family: var(--fuenteContenido);
    font-size: 2rem;
    color: var(--verde);
}


.titulo-span {
    font-size: 2.2rem;
    font-family: var(--fuenteTitulo);
    font-weight: bold;
    color: var(--verde);
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.subtitulo-bold {
    font-family: var(--fuenteContenido);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--gris);
    font-size: 2rem;
}

.subtitulo-bold2 {
    margin-top: 6rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    font-family: var(--fuenteContenido);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--verde);
    font-size: 1.8rem;
}

.texto-info {
    font-family: var(--fuenteContenido);
    font-weight: 500;
    color: var(--gris);
    margin: 1rem auto;
    width: 90%;
}

.texto-info2 {
    font-size: 2.1rem;
    font-weight: 500;
    text-align: center;
    color: var(--gris);
    padding: 1rem;
}


.navegacion-info ul {
    display: flex;

    justify-content: space-around;
    align-items: center;

}

.navegacion__menu-info {
    list-style: none;
    display: flex;
    padding: 3.4rem;
    background: var(--blanco);
}

section [id] {
    scroll-margin-top: 2rem;
}

.navegacion__menu-info a {
    font-family: var(--fuenteContenido);
    padding: .7rem;
    font-weight: bold;
    color: var(--gris);
}

.gobierno-escolar {
    display: flex;
    justify-content: center;
    padding-bottom: 2.3rem;
}

.imagen-escolar {
    border-radius: 1rem;
    border: 1.2rem solid #000;
}


.navegacion__menu-info a:hover {
    color: var(--verdeClaro);
    border-bottom: 2px solid var(--verdeClaro);
}

/* centrar el contenido del boton de la seccion de informacion para el proyecto de labor social */
.centrar-boton {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

/* -------------- */

/* ajustando el icono de la seccion de informacion parte proyecto de labor social */
.bi-caret-right-fill {
    color: var(--verde);
    font-size: 2.4rem;
}

/* --------- */

/* ajustando el tamaño y la posicion del segundo icono de la seccion de informacion
en la parte de proyecto de labor social */

.bi-caret-down-fill {
    display: flex;
    justify-content: center;
    font-size: 3.2rem;
    color: var(--verde);
}

/* media querie para ajustar el estilo de la pagina de informacion
a dis`positivos moviles */
@media screen and (max-width: 600px) {
    .button {
        width: 90%;
    }

    .titulo-span {
        text-align: center;
    }

    .subtitulo-bold2 {
        font-size: 2rem;
        text-align: center;
    }

    .texto-info2 {
        font-size: 2.2rem;
        text-align: center;
    }

    .texto-info {
        font-size: 2.3rem;
        line-height: 3.3rem;
        text-align: center;
    }


    .titulo-info {
        color: var(--gris);
        text-align: center;
    }

    .titulo-info2 {
        margin: 8rem auto;
        width: 95%;
    }

    .contenido-pei {
        margin: auto;
        width: 95%;
    }

    .centrar-content {
        margin: 0 auto;
    }

    .centrar-boton {
        margin: 0 auto;
        width: 90%;
    }

    .navegacion-info ul {
        background: var(--verdeClaro);
        border: 1px solid var(--verdeClaro);
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 4rem;
        align-items: center;
    }

    .navegacion__menu-info a {
        color: var(--blanco);
    }

    .navegacion__menu-info a:hover {
        color: var(--blanco);
        border-bottom: 2px solid var(--blanco);
    }

    .imagen-escolar {
        max-width: 95%;
        border-radius: 1rem;
        border: 1rem solid var(--verdeClaro);
    }
}

p {
    text-align: justify;
}